
.header {
    background: #9747FF;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.back-button {
    background-color: #eee;
    color: #333;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-info {
    display: flex;
    padding: 20px;
    background-color:#fff;
}

.profile-pic {
    text-align: center;
    margin-right: 20px;
}

.icon {
    width: 80px;
    height: 80px;
    background-color: #a52ec7;
    border-radius: 50%;
    margin-bottom: 10px;
}

.personal-info {
    flex-grow: 1;
}

.personal-info p {
    margin-bottom: 10px;
}

.disciplinas {
    background-color: #ffeef6;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.disciplinas h3 {
    margin-bottom: 10px;
}

.disciplinas ul {
    list-style: none;
}

.disciplinas li {
    margin-bottom: 5px;
}
