body {
    padding-top: 38vh; /* Compensa a altura da navbar fixa */
  }
.container.background-principal{
    background-color: #ffffff;
}

.background-roxo {
    background-color: #6a1b9a; /* Cor roxa */
    width: 30vh;  /* Ajuste o valor conforme necessário */
    height: 24vh; /* Ajuste o valor conforme necessário */
    border-radius: 5vh 0 5vh 0; /* Raio nos cantos superior esquerdo e inferior direito */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.background-roxo-quadrado{
    background-color: #6a1b9a;
    width: 35vh;  /* Ajuste o valor conforme necessário */
    height: 12vh; /* Ajuste o valor conforme necessário */
}

.comunicados{
    height: 50vh;
    width: 35vh;
}

.calendario{
    height: 40vh;
    width: 70vh;
}
.container-calendario{
    width: 100vh;
    height: 50vh;
}