.edit-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #ddd;
}

.form-actions {
    text-align: right;
}

.btn-primary {
    background-color: #6c63ff;
}

.btn-primary:hover {
    background-color: #574fcc;
}


.bg-roxo{
    background-color:#9747FF;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0;
    border: 1px solid transparent;

}
.botao-ementa:hover{
    background-color: #c09ce5;
    color:#ffffff
}


.bloco-principal{
    display: flex;
    justify-content: space-around
}