.edit-btn:hover {
    background-color: #ddd;
}

.btn-primary {
    background-color: #6c63ff;
}

.btn-primary:hover {
    background-color: #574fcc;
}
.bg-roxo{
    background-color:#9747FF;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    border: 1px solid transparent;
}
.botao-ementa:hover{
    background-color: #c09ce5;
    color:#ffffff
}

.container-details{
    padding: 20px 40px;
    width: 70vw;
}

.form-course-detail{
    display: ruby;
}
